<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- namespace用于绑定Dao接口 -->
<mapper namespace="com.example.lookbilibili.mapper.common.CommonMapper">
    <!-- 查询名字记录sql -->  
    <select id="query" parameterType="String" resultType="java.util.LinkedHashMap">
       ${sql}
    </select>  
	
    <!-- 增删改 -->  
    <select id="save" parameterType="java.lang.String" resultType="int">    
        ${sql} 
    </select>  
</mapper>
