<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8" />
    <title>index</title>
</head>
<script src="./lib/vue.js"></script>
<body>
    <div id="app">
        啥也没有<p th:text="${host}">Hello World</p>
        <p>欢迎使用Spring Security!</p>
        <p>点击 <a th:href="@{/hello}">这里</a> 打个招呼吧</p>
        {{message}}
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
            </option>
            </select>
        <span>Selected: {{ selected }}</span>

    </div>

<script>
    var vm = new Vue({
        el : '#app',
        data: {
            message : 'Hello world, I am Vue.js',
            selected: 'A',
            options: [{ text: 'One', value: 'WWWWs' }, { text: 'Two', value: 'B' }, { text: 'Three', value: 'C' }]
        }
    });
</script>
</body>
</html>