<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lookbilibili.mapper.security.SysUserRoleMapper">

	<resultMap id="retMap" type="com.example.lookbilibili.domain.security.SysUserAndRole" >
		<result column="row_id" property="rowId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="notes" property="notes"/>
        <result column="create_time" property="createTime"/>
	</resultMap>

    <select id="findRolesByCode" parameterType="map" resultMap="retMap">
        SELECT * FROM (
            SELECT
            T1.ROW_ID as "rowId",
            T1.USER_CODE as "userCode",
            T1.USER_PASSWORD as "userPassword",
            T2.ROLE_ID as "roleId",
            T3.ROLE_NAME as "roleName",
            T1.USER_NAME as "userName",
            T1.COMPANY_ID as "companyId",
            T1.NOTES as "notes",
            T1.CREATE_TIME as "createTime"
            FROM CB_SYS_USER T1
            LEFT JOIN CB_SYS_USER_ROLE T2 ON T1.ROW_ID = T2.USER_ID
            LEFT JOIN CB_SYS_ROLE T3 ON T2.ROLE_ID = T3.ROW_ID
        )
        WHERE 1 = 1
        <if test="userCode!=null">
            userCode = #{userCode}
        </if>
        <if test="userName!=null">
            userName = #{userName}
        </if>

    </select>
</mapper>
