<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lookbilibili.mapper.security.SysUserRoleMapper">

	<resultMap id="retMap" type="com.example.lookbilibili.domain.security.SysUserAndRole" >
		<result column="row_id" property="rowId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="notes" property="notes"/>
        <result column="create_time" property="createTime"/>
	</resultMap>

    <select id="findRolesByCode" parameterType="String" resultMap="retMap">
        SELECT * FROM (
            SELECT T1.ROW_ID, T1.USER_CODE, T1.USER_PASSWORD, T2.ROLE_ID, T3.ROLE_NAME, T1.USER_NAME, T1.COMPANY_ID, T1.NOTES, T1.CREATE_TIME
            FROM CB_SYS_USER T1
            LEFT JOIN CB_SYS_USER_ROLE T2 ON T1.ROW_ID = T2.USER_ID
            LEFT JOIN CB_SYS_ROLE T3 ON T2.ROLE_ID = T3.ROW_ID
        ) TT
        WHERE 1 = 1
        AND USER_CODE = #{userCode}

    </select>
</mapper>
